
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    
}
.back {
    color: #ffffff;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 5px;
}
.site {
    margin-bottom: 20px;
    font-size: 11px;
}
.site span, .message span, .number span {
    color: #777;
}
.status span {
    color: #af120d;
}
.site::after, .site::before {
    content: " ::::::: ";
    color: #777;
    font-weight: bold;
}
.status {
    font-size: 11px;
    margin-bottom: 20px;
}
.n1 {
    border: 1px solid #777777;
    border-radius: 4px;
    padding: 10px;
}
.number b, .message b{
    display: inline-block;
    width: 100px;
}
.error {
    color: #af120d;
    letter-spacing: 1rem;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #777777;
    margin: 20px 0;
    animation: big 2s infinite;
}
.error::before, .error::after {
    content: "≡";
    color: #777777;
    font-size: 11px;
}
.link::before {
    content: "[ ";
    color: #777777;
}
.link::after {
    content: " ]";
    color: #777777;
}
.link a {
    color: #777777;
    text-decoration: none;
    animation: d1 .5s infinite;
}
.link a:hover {
    color: var(--link-color);
    text-decoration: overline;
}

@keyframes d1 {
    from {
        text-decoration: none;
    }
    to {
        text-decoration: overline;
    }
}
@keyframes big {
    0% {
        color: #af120d;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #af120d;
    }
}

@media (min-width: 576px) {
    .back {
        width: 300px;
    }
}

@media (min-width: 768px) {
    .back {
        width: 600px;
    }
}

@media (min-width: 992px) {
    .back {
        width: 800px;
    }
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
    
}