.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.icon {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 15px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--block-color);
    transition: all 1s;
}
.icon:hover, .icon:active  {
    color: var(--link-color);
    border: 1px solid var(--link-color);
    box-shadow: 0px 0px 5px 1px var(--link-color);
    transform: scale(105%);
    transition: all .2s;
}
.technos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.techno {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 7px 10px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100px;
    background-color: var(--block-color);
    text-align: center;
    transition: all 1s;
}
.techno:hover, .techno:active  {
    color: var(--link-color);
    border: 1px solid var(--link-color);
    box-shadow: 0px 0px 5px 1px var(--link-color);
    transform: scale(105%);
    transition: all .2s;
}
