.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.icon {
    color: #555;
    border: 1px solid #aaa;
    padding: 15px;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    background-color: var(--block-color);
}
.icon:hover {
    color: #17A9FD;
    border: 1px solid #17A9FD;
    box-shadow: 0px 0px 5px 1px #17A9FD;
    transform: scale(105%);
    transition: all .5s;
}
