.header {
    background-color: var(--block-color);
    padding: 10px;
    color: var(--text-color);
    transition: all .5s;
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.burger {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.logo {
    font-size: 24px;
}
.logo a {
    color: var(--text-color);
    text-decoration: none;
}

@media (min-width: 576px) {
    .burger {
        display: block;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
    
}